<html>
<head>



<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>E-Social</title>
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<script src="fisiere/javascript/alerte.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/dist/ng-fi-text.min.js"></script>
 <script src="https://code.angularjs.org/1.4.0/angular-route.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script> 
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/chart.js/dist/Chart.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="bower_components\sweetalert\docs\assets\sweetalert\sweetalert.min.js"></script>
<link rel="stylesheet" href="fisiere/css/styles.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">  
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="fisiere/javascript/angularscript.js"></script>
     <script src="fisiere/Json/lectii.js"></script>
     <script>if (window.module) module = window.module;</script>

</head>
 <body ng-app="myApp" style="overflow-y: hidden">
     
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header" ng-controller="meniu">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title" id="titluLectie">Info Clasa a V - a</span>
          <div class="mdl-layout-spacer"></div>
    
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50" style="overflow: hidden;background-color: #2060bd
 !important" >
        <header class="demo-drawer-header"> 
          
            <img src="assets/titlu.png"  draggable="false" npm testclass="titlu"> </header>
      <nav class="mdl-navigation mdl-color--blue-grey-800" style="background-color:#ffd100 !important"ng-repeat="x in lectii1" >
       
                <a class="mdl-navigation__link pointer"   style="color:black !important; font-size:15px !important;" ng-click="incarcarePagina($index)"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation" style="color:grey !important">chrome_reader_mode</i>&nbsp;&nbsp;&nbsp;{{x.lectie1}}</a>
       
        
          
           
   </nav>
         <div class="mdl-layout-spacer"></div>
            </div> 
        <main class="mdl-layout__content mdl-color--grey-100"  >
            <div ng-include src=src1></div>
       


            
            
            
          
        </main>
      </div>
   
  </body>

<link rel="stylesheet" href="fisiere/css/inputCss.css">
    
</html>