<main class="mdl-layout__content mdl-color--grey-100"  style="width: 100%;height:90%;overflow-y: hidden;" >
    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:100%;height: 100%;">
       <p class="mdl-card__supporting-text" style="font-size:1.3vw;line-height:1.2;text-align:justify;">dsasasasasasasasasasasasa</p>
          
           
          </div>


</main>
