

<div ng-controller="exercitiu_tip_2">
        
    <div class="modal-dialog caseta">
         <div class="modal-content caseta1" >
            <div class="modal-header">
               <h3 class="intrebare"><span class="label label-warning" id="qid">{{x1}}.</span> {{intrebare}}</h3>
           </div>
           <div class="modal-body">
   
   
             <div class="quiz" id="quiz" data-toggle="buttons">
              <label id="1"  class="element-animation1 btn btn-lg btn-info btn-block raspuns" ng-click="raspuns(1,0)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>     Adevarat</label>
              <label id="2" class="element-animation2 btn btn-lg btn-info btn-block raspuns" ng-click="raspuns(1,1)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>     Fals</label>
            
          </div>
      </div>
      <div class="modal-footer text-muted">
       <span id="answer"></span>
   </div>
   </div>
   </div>
        <div class="modal-dialog caseta" >
         <div class="modal-content caseta1" >
            <div class="modal-header">
               <h3 class="intrebare"><span class="label label-warning" id="qid">{{y1}}.</span> {{intrebare1}}</h3>
           </div>
           <div class="modal-body">
   
   
             <div class="quiz" id="quiz" data-toggle="buttons">
              <label id="4" class="element-animation1 btn btn-lg btn-info btn-block raspuns" ng-click="raspuns(2,0)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>     Adevarat</label>
              <label id="5" class="element-animation2 btn btn-lg btn-info btn-block raspuns"ng-click="raspuns(2,1)"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>    Fals</label>
             
          </div>
      </div>
      <div class="modal-footer text-muted">
       <span id="answer"></span>
   </div>
   </div>
   </div>
   </div>
   <style>
   .caseta{
       float:left;
   }
   .caseta1{
       width:75%;
       
   }
   </style>