<div ng-controller="exercitiu_tip_4">
    
    <p id="enunt">Completeaza in casete cuvintele care ar trebui pus in locul liniei. </p>
    <div id="ap4Div" style="overflow: auto">
           
        
       
       
                <ul ng-repeat="x in enunt1" >
        <li style="font-size:2rem;"> {{x.enunt}}   <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="float: right;" ng-click="verificare($index)">
                Verificare
              </button>
            <ul ng-repeat="y in inputs[x.id]">
                <li ><input id="id-{{x.id}}{{$index}}" placeholder="" > <img style="display: none" width="30px" height="30px"src="" id="img-{{x.id}}{{$index}}"></li>
            </ul>
        </li>   
       </ul>   
 
    </div>
</div>
<style>
.caseta{
float: left;
}
#enunt{
    margin-left: 1%;
    margin-top:1%;
    font-size:3rem;
}
#ap4Div{
    margin: auto;
    width:95%;
    height: 60%;
   
}
</style>