<div ng-controller="exercitiu_tip_3">
    
    <div id="bigDiv">
 <div id="left">
  <ul class="list" ng-repeat="x in coloana1">
     <li class="text"><input id="input{{$index}}" maxlength="2" class="input"> &nbsp {{x.enunt}} <img style="display: none" class ="calificativ" id="image{{$index}}"src=""></li> 
  </ul>
 </div>
 <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="float: right;" ng-click="verificare()">
        Verificare
      </button>
 <div id ="right">
     
    <ol style="margin-top: 5%" class="list" ng-repeat="y in coloana2">    
    <li class="text" style="margin-bottom: 10%;">{{$index+1}}. {{y.enunt}} </li> 
    
    </ol>
    </div>   
</div>

</div>
<style>
    #left{
        margin-top: 4%;
        width: 40%;
        height: 90%;
       
        float:left;
    }
    #right{
        margin-top: 4%;
       
        width:40%;
        height: 90%;
        float:right;
    }
#bigDiv{
    margin: auto;
    width: 75vw;
    height: 57vh;
  
}
.text{
font-size:3.2rem;
}
.input{
width: 10%;
}
.list{

    list-style-type: none;
}
.calificativ{
    margin-left: 5%;
    width: 15%;
    height: 15%;
}
</style>