<main class="mdl-layout__content mdl-color--grey-100"  style="width: 100%;height:90%;overflow-y: hidden;" >
        <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:100%;">
           <p class="mdl-card__supporting-text" style="font-size:1.3vw;line-height:1.2;text-align:justify;">{{teorie}}</p>
              
               
              </div>

              <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <div class="mdl-tabs__tab-bar">
                    <a  class="mdl-tabs__tab pointer" ng-click="selectareAplicatie(1)" id="b1">Aplicația tip 1</a>
                    <a class="mdl-tabs__tab pointer" ng-click="selectareAplicatie(2)" id="b2">Aplicația tip 2</a>
                    <a  class="mdl-tabs__tab pointer" ng-click="selectareAplicatie(3)"id="b3">Aplicația tip 3</a>
                    <a  class="mdl-tabs__tab pointer"ng-click="selectareAplicatie(4)" id="b4">Aplicația tip 4</a>
                </div>
                
                <div ng-include src=src2></div>
         </div>
</main>
