<main class="mdl-layout__content mdl-color--grey-100"  style="width: 100%;height:90%;overflow-y: hidden;" >
    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:100%;height: 100%;">
    
        <img src = "assets/4.png" width="100%" height="100%">
          
           
          </div>

          
</main>
<script>
$("#titluLectie").html("Structura Alternativă");
</script>